#delete {
    width: 100vw;
    height: 100vh;
    background: #ff669d;

    display: flex;
    align-items: center;
    justify-content: center;
}

#delete img {
    max-width: 48%;
}

#delete main {
    width: 95%;
    max-width: 914px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#delete main .delete-message {
    max-width: 450px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#delete main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#delete main p {
    max-width: 400px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 34px;
}

.delete-options {
    width: 366.39px;
    margin-top: 62px;
    position: relative;
}

#delete .secondary-button {
    width: 100%;
    background: #d6487b;
}

#cancel {
    margin-top: 20px;
}

#cancel:hover {
    background: #3BD689;
}

#yes:hover {
    background: #e21e1e;
}

.delete-options form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.delete-options form fieldset {
    width: 270px;
    border: none;
    text-align: left;
    position: relative;
}

.delete-options form input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 0 8px;

    font-size: 16px;
    color: #5C8599;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 8px;
}

#delete #eye {
    color: #8fa7b2;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#delete #eye:hover {
    color: #72909c!important;
}

#delete #confirm {
    width: 40px;
    height: 35px;
    padding: 7px;
    
    background: #F5F8FA;
    color: red;
    border-radius: 10px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 100ms;
}

#delete #confirm:hover {
    color: white;
    background: red;
}